# Ignore version control
.git
.gitignore

# Dependency directories
vendor/
node_modules/

# Laravel storage directories (keep only publicly served files)
storage/*
!storage/app/
!storage/app/public
public/storage

# Environment files
.env

# Other
npm-debug.log
yarn-error.log
